/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */


main{
    display: flex;
    justify-content: center;
}

.card{
    width: 375px;
    height: 812px;
    background: #F2E8F3;
    display: flex;
    justify-content: center;
    
}

.card_fondoClaro{
    width: 90%;
    height: 90%;
    background:  #F7F0F7;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center
    
}

.card_fondoClaro_blanco{
    background: #FFFFFF;
    width: 90%;
    height: 80%;
    margin-top: 10px;
    border-radius: 30px;
    display: block;
  
    align-items: center;

}
.card_fondoClaro_blanco_Pagar{
    font-size: 50px;
    margin: 10px;
    height: 60px;
   
    text-align: center;
   
}
.card_fondoClaro_img{
    display: flex;
    justify-content: center;
    
}



.card_fondoClaro_img_circulo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    
}

.card_fondo_Claro_blanco_nombre_datos{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.card_fondo_Claro_blanco_nombre_datos_nombre{
    font-size: 30px;
    font-weight: bold;
    
}

.banner_precios{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 10px 10px 10px 10px;
    background-color: #FAF5FB;
    border-radius: 30px;
    font: #8D3B95;
}
.banner_precios_euro{
    color:  #8D3B95;
    
    
}
.banner_precios_Paypal{
    color:  #8D3B95;
}

.precio_euros{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.precio_euros_numero{
    font-size: 60px;
    font-weight: bold;
    margin-top: 30px;
}

.precio_euros_articulo{
    font-size: 20px;
    margin-top: 10px;
}


.texto_h6{
    padding: 10px;
    background: #FAC8FF;
    border-radius: 0px 10px 10px;
    margin-top: 170px;
    text-align: center;

}

.enviar{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    
    
    
    
}